/*
	
	color:
		--primary 	: #0045B7;
		--secondary	: #459EFC;
		--third 	: #4D98EA;
		--white		: #FFFFFF;

		--primary	: #8b60ed;
		--secondary	: #b372bd;
		--third		: #8759B5;
		--white		: #FFFFFF;
		--pure		: #8B60ED;
		--black		: black;
		--gray		: #B2B6BA;
		--blue		: #328AF1;
		
	bg: 
		--background: linear-gradient(0deg,#8b60ed,#b372bd);

	shadow:
		--box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;

*/


:root {

    --one: #5602f9cc;
    --two: #1A73E8;
    --three: #0574FA;

    --white: #FFFFFF;
    --pure: #8B60ED;
    --black: black;
    --gray: #B2B6BA;
    --blue: #328AF1;
    --red: #EE3138;

    --font-head: 'Teko', sans-serif;
    --font-primary: 'Fira Sans', sans-serif;
    --font-secondary: 'Abel', sans-serif;

}

body {
    margin: 0;
    padding: 0;
}


/*
	---------
	common css
	---------
*/
body {
    scroll-behavior: smooth;
}

h1,
h2,
h3,p,div,span {
    font-family: 'Hind Siliguri',
    sans-serif;
}

.text-cont {
    font-size: 23px;
    font-family: arial;
}

.primary-btn {
    color: var(--two);
    background: var(--white);
    padding: 8px 15px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;
}

.secondary-btn {
    color: var(--white);
    background: var(--two);
    padding: 8px 15px;
    font-weight: bold;
    box-shadow: rgb(9 27 73 / 86%) 0px 4px 9px 0px;
}

.heading {
    padding-bottom: 15px;
    border-bottom: 3px solid var(--two);
    margin: 0 auto;
    width: 30%;
}

.heading-w {
    padding-bottom: 15px;
    border-bottom: 3px solid var(--white);
    margin: 0 auto;
    width: 30%;
}

.sub-head {
    font-size: 28px;
    /*font-family:  'Epilogue', sans-serif;*/
    font-family: var(--secondary) !important;
    font-weight: 400;
    border-left: 10px solid var(--gray);
    padding-left: 10px;
    color: var(--three);
}

.w-175 {
    width: 175px;
    max-width: 175px;
}
}

.m-0-a {
    margin: 0 auto;
}

hr {
    border: 5px solid var(--two);
}

/*
scroll bar
*/

/* width */
::-webkit-scrollbar {
    width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--two);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--black);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--black);
}

/*-------------
	Main Menu
---------------*/
.header {

    /*background: linear-gradient(220deg,#5602f9cc,#1A73E8,#0574FA,#5000fdcc);*/
    background: var(--two);
}

header {
    z-index: 1;
    background: var(--two);
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    background: var(--two);
}

.logo h1 {
    cursor: pointer;
    font-family: var(--font-head) !important;
    color: var(--white);
}

.menu {

    font-family: var(--font-primary) !important;
    cursor: pointer;
    color: var(--white);
}

/*side nav menu*/

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: var(--white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
}

.sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-family: var(--font-primary);
    font-size: 20px;
    color: var(--black);
    display: block;
    transition: 0.3s;
}

.sidenav a:hover {
    color: var(--two);
}

.sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
}

#main {
    transition: margin-left .5s;
    padding: 16px;

}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }

    .sidenav a {
        font-size: 18px;
    }
}

/*---------------
	homepage welcome section [slider]
----------------*/

.welcome {
    background: linear-gradient(220deg, #5602f9cc, #1A73E8, #0574FA, #5000fdcc);
    color: var(--white);
    background-size: cover;
    height: 100vh;
}

.slick-slide img {
    display: block;
    max-height: 100%;
}

@media screen and (max-width: 992px) {
    .slider{
        padding-top:25px;
    }
    .slider-h1{
        font-size: 26px;
    }
}
@media screen and (max-width: 577px) {
    .slider-half{
        display: none;
    }
   .slider-full{
    display: block !important;
   }
   .slider-text{
    padding:20px;
   }
   .slick-slide img{
    height: 200px;
   }
   .slider-h1{
        font-size: 18px;
    }
}
/*-------
	slider
-------*/

button.slick-prev.slick-arrow {
    margin-left: -15px;
}

/*
	------
	about company
	------

*/

.about-company {
    background: var(--two);
    color: white;
}


/*--------------
	how we work
-------------*/

.box {
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #fdfdfd;
}




.footer-two {
    color: var(--white);
    background: var(--black);
}


/*dev-form*/

.dev-form {
    /*border:4px solid var(--two);*/
    box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;
    /*box-shadow: rgb(9 27 73 / 86%) 0px 4px 9px 0px;*/
}

.success-page {
    box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;
}

/*----------
    course page
-----------*/

/*course-box*/

.course-box{
    margin: 0 auto;
    /*box-shadow: rgb(26 115 232) 0px 4px 9px 0px;*/
    box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;
    border:1px solid var(--blue);
    border-radius:8px;
    padding: 10px 10px;
    background:var(--white);
}
.course-box:hover {
    box-shadow: rgb(0 0 0 / 59%) 0px -1px 15px 0px;
}

/*---------
    course details page
----------*/

.header-body{
    border-radius: 12px;
}

.small-bg-right{
    width: 85px;
    height: 60px;
    /*background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%231a73e8' fill-opacity='1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");*/
background-image: url("data:image/svg+xml,%3Csvg width='64' height='64' viewBox='0 0 64 64' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8 16c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zm33.414-6l5.95-5.95L45.95.636 40 6.586 34.05.636 32.636 2.05 38.586 8l-5.95 5.95 1.414 1.414L40 9.414l5.95 5.95 1.414-1.414L41.414 8zM40 48c4.418 0 8-3.582 8-8s-3.582-8-8-8-8 3.582-8 8 3.582 8 8 8zm0-2c3.314 0 6-2.686 6-6s-2.686-6-6-6-6 2.686-6 6 2.686 6 6 6zM9.414 40l5.95-5.95-1.414-1.414L8 38.586l-5.95-5.95L.636 34.05 6.586 40l-5.95 5.95 1.414 1.414L8 41.414l5.95 5.95 1.414-1.414L9.414 40z' fill='%231a73e8' fill-opacity='1' fill-rule='evenodd'/%3E%3C/svg%3E");
    float: right;
    margin-top: -100px;
}



/*---------
    outline-page css
----------*/

.outline-box{
    margin: 0 auto;
    /*box-shadow: rgb(26 115 232) 0px 4px 9px 0px;*/
    box-shadow: rgba(0, 0, 0, 0.17) 0px 4px 9px 0px;
    border:1px solid var(--blue);
    border-radius:8px;
    padding: 10px 10px;
    background: var(--white);
    max-height: 310px;
    overflow-y: auto;
}




/*---------
    services-page css
----------*/


.services{
    margin:0px;
    padding: 0px;
    padding:10px 0px;
}

.services h1{
    padding: 5px 0px;
    background: var(--two);
    color: var(--white);
}
.fa-check,.fa-check-square-o{
    color:#FF2E8C;
}
.services .feature{

    padding: 10px 0px 10px 35px;

}

/*---------
    product / solution css
----------*/

.solution-header{
    border-radius: 12px;
    width: 100%;
    height: 520px;
}

.solution-feature{
    padding-left: 20px;
}